body {
  margin-top: 56px; }

.bg {
  background-image: url(../img/indoor-climbing-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px; }
  .bg button {
    width: 100px;
    border-radius: 19px; }
