$banner-text: rgb(33, 35, 37);
$color-dark: #3B4754;
$color-light: #EDF0F4;
$color-transparent-black: rgba(0, 0, 0, 0.5);

body {
  margin-top: 56px;
}

a {
  color: $color-dark;
}

h1 {
  font-size: 54px;
  font-weight: 700;
  color: $banner-text
}

.bg {
  background-image: url(../img/indoor-climbing-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 140px;
  padding-bottom: 140px;

  a, button {
    width: 100px;
    border-radius: 19px;
    background-color: $color-dark;
    border-color: $color-dark;
  }
}

.contact-icon {
  color: $color-light;
}

.fa {
  margin-left: 5px;
  margin-right: 5px;
}

.fa-stack {
  font-size: 1em;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

#city-state {
  margin-left: 32px;
}

#circleIconGvl {
  color: $color-dark;
}